In [34]:
import pandas as pd
import numpy as np
import proteomics_downstream_analysis as pda
from proteomics_downstream_analysis.contamination import ContaminationAnalysis
from scipy import stats
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
panel = pd.read_excel('/Users/tungvuduc/Desktop/PhD/projects/proteomics_downstream_analysis/test_data/contam_panel.xlsx')

In [3]:
contam = ContaminationAnalysis()

In [4]:
data3 = pd.DataFrame({'a' : np.array(['a', 'b', 'c', 'd', 'e', 'f', 'g']),
                                'b' : np.array([1, np.nan, 3, 4, 5, 6, 7]),
                                'c' : np.array([2, 2, np.nan, np.nan, np.nan, np.nan, np.nan]),
                                'e' : np.array([np.nan, np.nan, 3, 4, 5, 6, 7]),
                                'f' : np.array([1, 10, 8, 4, 5, 6, 7]),
                                'g' : np.array([1, 10, 8, 4, 5, 6, 7]),
                                'h' : np.array([1, 10, 8, 4, 5, 6, 7]),
                                'i' : np.array([1, 10, 8, 4, 5, 6, 7]),
                                'j' : np.array([3, 24, 64, 42, 23, 5, 32]),}
                                )

data3.columns = ['Genes','a', 'a','a', 'a','a', 'a','a', 'a']
data3['a'] = data3['a'].astype(float)
data3['Genes'] = data3['Genes'].astype('string')

In [5]:
# create test data 2
data2 = pd.DataFrame({'a' : np.array(['PRDX2', 'CA2', 'CAT', 'd', 'e', 'f', 'g']),
                            'b' : np.array([1, 2, 3, 4, 5, 6, 7]),
                            'c' : np.array([2, 2, 9, 5, 8, 7, 4]),
                            'e' : np.array([1, 10, 8, 4, 5, 6, 7]),
                            'f' : np.array([1, 10, 8, 4, 5, 6, 7]),
                            'g' : np.array([1, 10, 8, 4, 5, 6, 7]),
                            'h' : np.array([1, 10, 8, 4, 5, 6, 7]),
                            'i' : np.array([1, 10, 8, 4, 5, 6, 7]),
                            'j' : np.array([412, 231, 234, 5, 1, 3, 4]),
                            }
                )
                
data2.columns = ['Genes','a', 'a','a', 'a','a', 'a','a', 'a']
data2['a'] = data2['a'].astype('float')
data2['Genes'] = data2['Genes'].astype('string')

In [6]:
data = pd.DataFrame({
            "Genes": list("abcdefg"), 
            "b": [1., 2, 3, 4, 5, 6, 7],
            "c": [2., 2, 9, 5, 8, 7, 4],
            "d": [1., 10, 8, 4, 5, 6, 7],
            "e": [100., 8218, 8959, 4833, 485, 45, 485]
        })
data.columns = ["Genes","a", "a", "a", "a"]
data["a"] = data["a"].astype("float")
data["Genes"] = data["Genes"].astype("string")

In [7]:
data5 = pd.DataFrame({"a" : np.array(["a", "b", "c",]),
                                "b" : np.array([1, 1, 1]),
                                "c" : np.array([2, 2, 2]),
                                "e" : np.array([3, 3, 3]),
                                "f" : np.array([4, 4, 4]),
                                "g" : np.array([5, 5, 5]),
                                "h" : np.array([6, 6, 6]),
                                "i" : np.array([7, 7, 7]),
                                "j" : np.array([8, 8, 8]),}
                                )

data5.columns = ["Genes", "a", "b", "a", "b", "a", "b", "a", "b"]
data5["a"] = data5["a"].astype("float")
data5["b"] = data5["b"].astype("float")

data5["Genes"] = data5["Genes"].astype("string")

In [41]:
data7 = pd.DataFrame({"Genes" : np.array(["FGB", "CLU", "SERPINA5", "d", "CDH5", "PPBP", "LTF"]),
                    "b" : np.array([0.0005, 0.0005, 0.0005, 41231, 51123, 11120, 72123]),
                    "c" : np.array([2029, 3212, 2329, 2325, 8, 7, 4]),
                    "e" : np.array([32232, 24133, 11342, 1, 5, 8, 2]),
                    "f" : np.array([2394, 1023, 3434, 4, 3, 1, 7]),
                    "g" : np.array([415322, 112323, 82332, 2, 1, 3, 2]),
                    "h" : np.array([133224, 12453, 11323, 4, 2, 3, 1]),
                    "i" : np.array([12452, 1023, 8542, 2, 2, 6, 1]),
                    "j" : np.array([13234, 23342, 32333, 3, 1, 3, 1]),
                    }
        )

data7.columns = ["Genes", "a", "a", "a", "a", "b", "a", "a", "b"]
data7["a"] = data7["a"].astype("float")
data7["b"] = data7["b"].astype("float")
data7["Genes"] = data7["Genes"].astype("string")

contam._compute_contamination_outlier(data7[["Genes", "a"]], contam_type="Coagulation_Down")

(array([8.54228710e-09, 7.63566673e-01, 9.99763743e-01, 9.97815322e-01,
        9.99936310e-01, 9.99500636e-01]),
 0.2894214425432424,
 array([ True, False, False, False, False, False]))

In [42]:
contam.outlier(data7, kind="contamination", remove=True, contam_type="Coagulation_Down")

[ True False False False False False False False]

               a        a       a         b         a        a        b
Genes
FGB       2029.0  32232.0  2394.0  415322.0  133224.0  12452.0  13234.0
CLU       3212.0  24133.0  1023.0  112323.0   12453.0   1023.0  23342.0
SERPINA5  2329.0  11342.0  3434.0   82332.0   11323.0   8542.0  32333.0
d         2325.0      1.0     4.0       2.0       4.0      2.0      3.0
CDH5         8.0      5.0     3.0       1.0       2.0      2.0      1.0
PPBP         7.0      8.0     1.0       3.0       3.0      6.0      3.0
LTF          4.0      2.0     7.0       2.0       1.0      1.0      1.0